.UserStatsButton-Container {
    text-align: center;
    border:none;
    background: transparent;
}

.UserStatsButton-Container:hover {
    cursor: pointer;
}

.UserStatsButton-StatsCounter {
    margin-bottom: 4px;
}

.UserStatsButton-StatsTitle {
    margin-top: 4px;
}